body { 
    margin:0; 
    padding:0; 
}

#banner {
    width: 300px; 
    height: 600px;
    background:#f5f5f5;
    position: relative;
    overflow: hidden;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

#bg, #border, #bottle, #cta, #logo, #headline, #headline2, #headline3, #headline4, #headline5, #headline6, #headline_a,#headline_bourbon, #stars, #clickthru, #cta-mouseover {
    position: absolute;
}

#clickthru { 
    width: 300px; 
    height: 600px; 
    z-index: 98; 
    cursor: pointer; 
    background-color:rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
}

#bg {
    top:0; 
    left:0;
    width:100%; 
    height:100%;
    object-fit:cover;
}

#border {
  width: 298px;
  height: 598px;
  border: 1px solid #AAA;
  pointer-events:none;
  z-index: 50;
  display: block;
  opacity: 0;
  top: 0;
  left: 0;
}

#logo {
    top: 485px;
    left: 147px;
    opacity: 0;
    z-index: 11;
}

div#headline_a {
    top: 48px;
    left: 133px;
}

div#headline_bourbon {
    top: 139px;
    left: 42px;
}

#headline,
#headline2,
#headline3 {
    opacity: 0;
    z-index: 9;
}

#headline4,
#headline5,
#headline6 {
    z-index: 10;
}

#headline {
    top: 86px;
    left: 32px;
}

#headline2 {
    top: 86.5px;
    left: 56px;
}

#headline3 {
    top: 86px;
    left: 31px;
}

#headline4 {
    top: 30px;
    left: 43px;
}

#headline5 {
    top: 65px;
    left: 45px;
}

#headline6 {
    top: 65px;
    left: 183px;
}

#bottle {
  width: 100%;
  height: 100%;
  left: -1px;
  top: 141px;
  z-index: 6;
  opacity: 0;
}

#cta {
    top: 486px;
    left: 12px;
    opacity: 0;
    z-index: 11;
}

#stars {
    top: 530px;
    left: 80px;
    z-index: 10;
}