/* MAIN */
body {
  margin:0px;
  text-rendering:optimizeLegibility; 
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-text-size-adjust: none;
  font-kerning: none;
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  
}

@media screen and (min-width:0) and (min-resolution:+72dpi) { /* IE fix */
  body { text-rendering:optimzeSpeed; }
}

div { position:absolute; display:block; } 

img { position:absolute; }

#ad, #banner {
  width: 320px; 
  height:50px; 
}

#ad {   
   overflow:hidden;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#banner {
  background-color:#FFF; 
}

#border {
  width: 318px;
  height: 48px;
  border: 1px solid #AAA;
  pointer-events:none;
  z-index: 50;
  display: block;
  opacity: 0;
}

/* INTERACTIVE */

.button {
  outline:none;
  background-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  user-select:none;
  cursor:pointer;
}

#clickthru { 
  width: 320px; 
  height: 50px; 
  z-index:98; 
  cursor:pointer; 
  background-color:rgba(0, 0, 0, 0);
}
/*frames*/
.frames { 
  width:100%; 
  height:100%; 
  left: 0px;
  top: 0px;
  display:block; 
  opacity: 1;
}

#bg {
  width:100%;
  height:100%;
  left: 0px;
  top: 0px;
  opacity: 0;
}

#bottle {
  width: 100%;
  height: 100%;
  top: 41px;
  left: 144px;
  z-index: 10;
}

.headline {
  width: 100%; 
  height: 100%; 
  left: 0px;
  top: 0px;
  opacity: 1;
}

#headline1, #headline2 {
  width: 100%;
  height: auto;
  top: 9px;
  right: 39px;
  left: initial;
  z-index: 1;
  opacity: 1;
  margin: 0 auto;
}

#headline1 {
  display: flex;
  width: 59px;
  opacity: 1;
  justify-content: space-around;
}

#headline1 img,
#headline2 img {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    opacity: 0;
}

#headline2 {
  width: 98px;
  top: 14px;
  right: 20px;
  z-index: 50;
}

#headline2 img {
  opacity: 0;
    margin-right: 1px;
}

#headline1 img:last-of-type,
#headline2 img:last-of-type {
  margin-right: 0;
}

#cta {
  left: inherit;
  right: 20px;
  width: 74px;
  height: 21px;
  top: 8px;
  bottom: inherit;
  margin: auto;
}
